/*****************************
        GENERAL STYLES PHOTO FEEDS
******************************/

.block-apirenderer-instagram-gallery, .block-apirenderer-facebook-album {
	clear: left;
}

.photo-feed .read-more {
	clear: both;
	display: none;
}

/*****************************
          LIST VIEW photo feeds
******************************/

.photo-feed .feed-item.facebook {
	margin-bottom: 1.5em;
	width: 200px;
	float: left;
	margin-right: 20px;
	text-align: center;
}

.photo-feed .feed-item.flickr {
	margin-bottom: 1.5em;
	clear: none;
	float: left;
	width: auto;
	position: relative;
}

.photo-feed .feed-item.instagram {
	clear: both;
	margin-bottom: 1.5em;
	overflow: hidden;
}

.photo-feed  .feed-item-title {
	margin: 5px 0px;
	font-size: 12px;
}

.photo-feed .flickr .feed-item-title {
	margin: 0px;
	padding: 5px 10px;
	width: 180px;
	bottom: 0;
	background: transparent url("photo-bg.png");
	position: absolute;
	line-height: .8em;
}

.photo-feed .flickr .feed-item-title a {
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, sans-serif;
	letter-spacing: normal;
}

.not-front #region-content .photo-feed .facebook .feed-item-title {
	font-size: 12px;
}

.photo-feed .feed-item-thumbnail {
	height: 120px;
	overflow: hidden;
}

.photo-feed .instagram .feed-item-thumbnail {
	height: 200px;
	float: left;
	clear: left;
}

.photo-feed  .flickr .feed-item-summary{
	display: none;
}

.photo-feed .flickr .feed-item-thumbnail {
	height: 150px;
	float: left;
	clear: left;
}

.not-front #region-content .photo-feed .feed-item-thumbnail img,
.front .photo-feed .feed-item-thumbnail img {
	width: 200px;
	margin: 0px;
	padding: 0px;
	border: 0 none;
	min-height: 120px;
}

.not-front #region-content .photo-feed .flickr .feed-item-thumbnail img,
.front .photo-feed .flickr .feed-item-thumbnail img,
.not-front #region-content .photo-feed .instagram .feed-item-thumbnail img,
.front .photo-feed .instagram .feed-item-thumbnail img {
	margin-right: 10px;
	min-height: 150px;
}

.photo-feed .flickr .feed-item-description {
	min-height: 150px;
}

.photo-feed .flickr  .feed-item-summary {
	margin-left: 210px;
}

#photo-feed-list-sidebar .feed-item.instagram .feed-item-title {
	display: none;
}

#photo-feed-list-sidebar .feed-item.instagram {
	float: left;
	clear: none;
	margin-bottom: 3px;
}

#photo-feed-list-sidebar .instagram .feed-item-thumbnail img,
.not-front #photo-feed-list-sidebar .instagram .feed-item-thumbnail img,
.not-front #region-content #photo-feed-list-sidebar .instagram .feed-item-thumbnail img{
	width: 100px;
	min-height: 100px;
	margin-right: 3px;
}

#photo-feed-list-sidebar  .instagram .feed-item-thumbnail {
	height: 100px;
}

.photo-feed .clear {
	clear: left;
}

/*
	block-apirenderer-propublica
*/

#block-apirenderer-propublica td, #block-apirenderer-propublica th {
	padding: 10px !important;
}
#block-apirenderer-propublica div#filter {
	padding: 10px;
	margin-top: 10px;
}

#block-apirenderer-propublica select#selectMe {
	padding: 10px;
	width: 80%;
}

#block-apirenderer-propublica #filter select {
	margin-top: 15px;
}

#block-apirenderer-propublica #search-thomas {
	margin-top: 15px;
}

/*
	block-apirenderer-eventbrite
*/

#block-apirenderer-eventbrite .titlehead {
	color: #282C35;
	font-size: 18px;
}
#block-apirenderer-eventbrite .event_box h2 {
	font-size: 15px;
	text-align: center;
	color: #45494E;
}
#block-apirenderer-eventbrite .event_box div.formattedDate {
	color: #45494E;
	font-size: 15px;
}
#block-apirenderer-eventbrite .event_box p.link {
	color: #fff;
	font-size: 12px;
	padding-top: 10px;
}
#block-apirenderer-eventbrite .event {
	border:2px solid #cecece;
	overflow: hidden;
	background-color: rgba(250, 235, 215, 0.4);
}
#block-apirenderer-eventbrite .event:hover {
	box-shadow: -1px 1px 5px grey;
}
#block-apirenderer-eventbrite .eventImg {
	border: none !important;
	display: block;
	margin: auto;
}
#block-apirenderer-eventbrite .free{
	text-transform: uppercase;
	color: #45494E;
	font-size: 14px;
	background-color: #EFF2F5;
	display: block;
	margin: auto;
}
#block-apirenderer-eventbrite h2.block-title {
	display: none !important;
}
#block-apirenderer-eventbrite div.event hr {
	display: inline-block;
	clear: left;
	margin: -0.66em 0;
	visibility: hidden;
}
#block-apirenderer-eventbrite .leftColumn {
	padding-right: 30px;
}